<section class="section">
    <header>
        <h3>{% trans %}blog.categories{% endtrans %} </h3>
    </header>
    <p class="tags">
        {% for category in categories %}
        <a href="{{ path('blog_category_show', { 'category':  category}) }}">
            {{ category }}
        </a>
        {% else %}
    <p>{% trans %}blog.no.categories{% endtrans %} </p>
    {% endfor %}
    </p>
</section>
<section class="section">
    <header>
        <h3>{% trans %}blog.tag.cloud{% endtrans %} </h3>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
        <span class="weight-{{ weight }}">{{ tag }}</span>
        {% else %}
    <p>{% trans %}blog.no.tags{% endtrans %} </p>
    {% endfor %}
    </p>
</section>
<section class="section">
    <header>
        <h3>{% trans %}blog.latest.comments{% endtrans %} </h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="small"><span class="highlight">{{ comment.user }}</span>
                    {% trans %}blog.commented.on{% endtrans %}
                    <a href="{{ path('blog_show', { 'id': comment.article.id, 'slug': comment.article.slug }) }}#comment-{{ comment.id }}">
                            {{ comment.article.title }}
                    </a>
                    <em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></em>
                </p>
            </header>
            <p>{{ comment.comment }}</p>
            </p>
        </article>
    {% else %}
        <p>There are no recent comments {% trans %}blog.no.comments{% endtrans %}
        </p>
    {% endfor %}
</section>