{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block title %}Contact{% endblock%}


{% block body %}
    <header>
        <h1>Contact symblog</h1>
    </header>


    &lt;p&gt;Want to contact symblog?&lt;/p&gt;

    &lt;form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger"&gt;
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.body) }}

    {{ form_rest(form) }}

    &lt;input type="submit" value="Submit" /&gt;
    &lt;/form&gt;

{% endblock %}