{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ article.created|date('c') }}">{{ article.created|date('l, F j, Y') }}</time></div>
            <h2>{{ article.title }}</h2>
        </header>
        <img src="{{ asset(['images/', article.image]|join) }}" alt="{{ article.title }} image not found" class="large" />
        <div>
            <p>{{ article.blog }}</p>
        </div>
    </article>
{% endblock %}